@charset "UTF-8";

/* Typical Device Breakpoint 
   -------------------------
pequenas telas: até 600px
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: de 992px até 1200px
grandes telas: acima de 1200px
*/

@media screen and (min-width:600px) {
    i#burguer {
        display: none;
    }
    menu { 
        display: block;
    }
    menu > ul >li {
        display: inline-block;/* esse comando cria o menu um do lado do outro */
    }
    main {
        width: 600px;
    }
}